<a href="https://colab.research.google.com/github/sollunium/python-basic/blob/main/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
a,b,c,d,e = "this","is","a","list","yei"
x = [a,b,c,d,e]
print(x)

['this', 'is', 'a', 'list', 'yei']

## 2.	Print out those variables by using a for loop

In [ ]:
for i in x:
  print(i)

1
2
3
4
5

## 3.	Modify your for loop to add a message to your for loop.

In [33]:
for i in x:
  print( i + " extra message :>")

a extra message :>
is extra message :>
list extra message :>
this extra message :>
yei extra message :>

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for i in range(1, 21):
  if not i % 2:
    print(i)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
x.sort()
print(x)

['a', 'is', 'list', 'this', 'yei']

## 6.	Print out the first three elements of your list.

In [ ]:
print(x[0:3])

['a', 'is', 'list']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for i in range (-2,0):
  print(x[i])

this
yei